{% extends 'base.html' %}
{% block content%}

<form action="?" method="post" novalidate enctype="multipart/form-data" id="mainform1">
{{ form.hidden_tag() }}


<div class="row">
  <div class="col">

    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Editor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Cleaned HTML</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <button type="submit" class="btn btn-block btn-primary btn-lg"><i class="fa fa-shower"></i> Clean it</button>
            {{ form.text(class="form-control", placeholder=form.text.label.text) }}
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <h5 class="card-title">Attributes to remove</h5>
            <div class="row">
              {% include 'attributes.html' %}
            </div>

            <h5 class="card-title">Tags to remove</h5>
            <div class="row">
              {% include 'tags.html' %}
            </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            {% if pygmented_text != '' %}
              {{ pygmented_text|safe }}
            {% else %}
              <p>Cleaned HTML code will appear here</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

</form>


{% endblock %}
